* {
  margin: 0;
  padding: 0;
}

body, p {
  font-family: 'Roboto Condensed', sans-serif;
  height: 100vh;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lora', serif;;
}

h1 { font-size: 2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
}